[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KCSKNNShiny"]
	path = KCSKNNShiny
	url = https://github.com/cran/KCSKNNShiny
[submodule "KCSNBShiny"]
	path = KCSNBShiny
	url = https://github.com/chaithanya07/kcsnbshiny
